{% extends "registration/base.html"%}

{% block content %}
<form action="/registration/sign_in/" method="post">
  {% csrf_token %}
  <div>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <div id = "welcome">Welcome to CatConnect, please sign in or sign up to get started</div>
    <label>
      Username
      <input type="text" name="username">
    </label>
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>
  <button>Sign In</button>

</form>
<a href="/registration/sign_up/">Create New Account</a>
{% endblock %}