{% extends "registration/base.html" %}

{% block content %}
<form action="/registration/sign_up/" method="post">
  {% csrf_token %}
  <div>
    <label>
      First Name
      <input type="text" name="first_name">
    </label>
  </div>
  <div>
    <label>
      Last Name
      <input type="text" name="last_name">
    </label>
  </div>
  <div>
    <label>
      Username
      <input type="text" name="username">
    </label>
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>
  <div>
    <label>
      Cat Image URL
      <input type="url" name="cat_image_url" required>
    </label>
  </div>
  <button type="submit">Create Account</button>
</form>
{% endblock %}
