
#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 20px;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: auto;
}

#greeting {
    font-size: 24px;
    font-weight: bold;
    margin-top:50px;
    margin-bottom: 20px;
    text-align: center;
}


input[type="text"], input[type="url"] {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid violet;
    background-color: #444444;
    color: white;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a00cc;
}

.img-profile {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #7a00cc;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

#logout {
    background-color: #FF6347;
    margin-top: 30px;
}

#logout:hover {
    background-color: #e05241;
}
