#greeting{
    margin-top:50px;
}

.img-profile {
    width: 150px;   /* Set width to a fixed size or maximum size */
    height: 150px;  /* Set height to the same as width to maintain aspect ratio */
    object-fit: cover;  /* Ensures the image covers the area without distorting aspect ratio */
    border-radius: 50%; /* Optional: makes the image circular */
  }